/* to add background image to home page/header page */
.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}
/* for the content between header */
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    /* to add some animation to content such as when page reload then content comes fade away */
    animation: fadeIn 3s;
    /* this fadeIn comes from index.css file i.e. keyframes*/
}
/* for h2 tag */
.header-contents h2{
      font-weight: 500;
      color: white;
      font-size: max(4.5vw,22px);
}
/* for p tag */
.header-contents p{
    color: white;
    font-size: 1vw;
}
/* for button */
.header-contents button{
    border: none;
    color: rgb(102, 102, 52);
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,12px);
    border-radius: 100px;
}

/* responsive */
@media (max-width:1050px){
    .header-contents{
          max-width: 45%;
    }
}
@media (max-width:750px){
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}